<div class="parallax">
  <div class="container">
    <h1 class="text-center pt-4 mb-5"> Grupos </h1>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mb-5">
          <ul class="list-group text-center">
            <!-- <a routerLink="/panelAdminUsers"> -->
              <!-- <li class="list-group-item"> {{ grupo.grupo.Name }} </li> -->
            <!-- </a> -->
            <!-- <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a>
            <a routerLink="/panelAdminUsers">
              <li class="list-group-item"> Nombre de Grupo </li>
            </a> -->
          </ul>
        </div>
        <a routerLink="/panelAdminNewGrupo" class="btn btn-info addQuestion"> Nuevo Grupo </a>
      </div>
    </div>
  </div>
</div>