<div class="parallax">
  <div class="container">
    <h1 class="text-center pt-4 mb-5"> Grupos </h1>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mb-5">
          <ul class="list-group text-center">

             <a routerLink="/panelAdminUsers" *ngFor="let grupo of grupos"> <!-- Directiva de Angular para replicar el elemento a para los li -->
              <li class="list-group-item"> {{ grupo.grupoName }} </li> <!-- Interpolacion de String entre typeScript para poner datos en HTML -->
            </a>

          </ul>
        </div>
        <a routerLink="/panelAdminNewGrupo" class="btn btn-info addQuestion"> Nuevo Grupo </a> <!-- Boton para redireccionar al elemto panel de admin de nuevo grupo -->
      </div>
    </div>
  </div>
</div>