<div class="parallax">
  <div class="container">
    <h1 class="text-center pt-4 mb-5"> Seleccionar Grupo </h1>
    <!-- apartado para mostrar listado de lideres fde grupos -->
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <h3 class="text-center mt-4"> Grupos </h3>

          <div class="form-group mt-4 mb-4">

            <ul class="list-group text-center">

              <a routerLink="/panelUserMensaje/{{grupo.grupoId}}" *ngFor="let grupo of grupos">
                <li class="list-group-item"> {{ grupo.grupoName }} </li>
              </a>

            </ul>
            <a routerLink="/panelUserLider" class="btn btn-block btn-danger mt-4"> Cancelar </a>

          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <h3 class="text-center"> Grupo </h3>
          <div class="form-group mt-4 mb-4">

            <ul class="list-group text-center">

              <a routerLink="/panelUserMensaje/{{grupo.grupoId}}" *ngFor="let grupo of grupos">
                <li class="list-group-item"> {{ grupo.grupoName }} </li>
              </a>

            </ul>
            <a routerLink="/panelUserLider" class="btn btn-block btn-danger mt-4"> Cancelar </a>

          </div>
        </div>
        <a routerLink="/panelUserMensaje" class="btn btn-block btn-info"> Ingresar </a>
      </div>
    </div> -->

  </div>
</div>