<div class="parallax">
  <div class="container p-5">
    <!-- apartado para mostrar mensajes a usuarios  -->
    <div class="card text-white mb-5 alert {{ mensaje.prioridad }}" *ngFor="let mensaje of mensajes">
      <div class="card-header text-center">
        <h3> {{ mensaje.titulo }} </h3>
      </div>
      <div class="card-body">
        <h4 class="card-title"> {{ mensaje.mensaje }} </h4>
        <!-- <p class="card-text"> {{ mensaje.prioridad }} </p> -->
      </div>
    </div>

  </div>
</div>