<div class="parallax">
  <div class="container">
    <h1 class="text-center p-4"> <strong> Panel de Administración </strong> </h1>

    <div class="row" style="justify-content: center;">
      <a routerLink="/panelAdminGrupos">
        <div class="card text-white bg-primary mb-5 p-4">
          <div class="card-body">
            <p class="card-text"> <i class="fa fa-users"> </i> </p>
          </div>
          <div class="card-header text-center">
            <h4> Grupos </h4>
          </div>
        </div>
      </a>
    </div>

    <div class="row" style="justify-content: center;">
      <a routerLink="/panelAdminMensaje">
        <div class="card text-white bg-info mt-2 mb-5 p-4">
          <div class="card-body">
            <p class="card-text"> <i class="fa fa-envelope" style="font-size: 220px;"> </i> </p>
          </div>
          <div class="card-header text-center">
            <h4> Mensajes </h4>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>