<div class="parallax">
  <div class="container">
    <h1 class="text-center pt-5 mb-5"> Mensajes </h1>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card mb-5">
          <ul class="list-group text-center">
            <li class="list-group-item" *ngFor="let mensaje of mensajes"> {{ mensaje.mensaje }} </li> <!-- Interpolacion de String Para poner texto en el HTML -->
          </ul>
        </div>
        <a routerLink="/panelAdminNewMensage" class="btn btn-info addQuestion"> Nuevo Mensaje </a> <!-- boton de redireccionamiento para panel de admin nuevo mensaje -->
      </div>
    </div>

  </div>
</div>